@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    height: 90vh;
}
    .hidden {
        display:none !important;
    }
    .show {
        display:block !important;
    }

    .cut-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    /*:root {
        --c-gray-900: #000000;
        --c-gray-800: #1f1f1f;
        --c-gray-700: #2e2e2e;
        --c-gray-600: #313131;
        --c-gray-500: #969593;
        --c-gray-400: #a6a6a6;
        --c-gray-300: #bdbbb7;
        --c-gray-200: #f1f1f1;
        --c-gray-100: #ffffff;

        --c-green-500: #45ffbc;
        --c-olive-500: #e3ffa8;

        --c-white: var(--c-gray-100);

        --c-text-primary: var(--c-gray-100);
        --c-text-secondary: var(--c-gray-200);
        --c-text-tertiary: var(--c-gray-500);
    }*/

    /*body {
        line-height: 1.5;
        min-height: 100vh;
        font-family: "Be Vietnam Pro", sans-serif;
        background-color: var(--c-gray-900);
        color: var(--c-text-primary);
        display: flex;
        /*padding-top: 3vw;*/
        /*padding-bottom: 3vw;
        justify-content: center;
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }*/

    .btn-round {
        position: relative;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        /* border: 0; */
        background-color: transparent;
        border: 1px solid gray;
        color: var(--c-text-primary);
        display: flex;
        padding: 0;
        overflow: hidden;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-round svg {
      position: absolute;
      width: 50%;
      height: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: white; /* SVG color */
    }
      .btn-round img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    .btn-round:hover {
        border: 2px solid #0d6efd !important;
    }

    /*button,
    select,
    input,
    textarea {
        font: inherit;
    }

    a {
        color: inherit;
    }*/

    /*.app {
        min-height: 80vh;
        width: 99%;
        max-width: 1600px;
        /* background-color: var(--c-gray-800); */
        /*padding: 10px;
        display: flex;
        flex-direction: column;
    }*/

    /*.app-header {
        display: grid;
        grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(
                max-content,
                400px
            );
        column-gap: 4rem;
        align-items: flex-end;
        @media (max-width: 1200px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid var(--c-gray-600);
        }
    }

    .app-header-navigation {
        @media (max-width: 1200px) {
            display: none;
        }
    }

    .app-header-actions {
        display: flex;
        align-items: center;
        @media (max-width: 1200px) {
            display: none;
        }
    }

    .app-header-actions-buttons {
        display: flex;
        border-left: 1px solid var(--c-gray-600);
        margin-left: 2rem;
        padding-left: 2rem;

        & > * + * {
            margin-left: 1rem;
        }
    }

    .app-header-mobile {
        display: none;
        @media (max-width: 1200px) {
            display: flex;
        }
    }*/

    /*.app-body {
        height: 100%;
        display: block; 
        grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(
                min-content,
                400px
            );

        column-gap: 4rem;
        padding-bottom: 2.5rem;

        @media (max-width: 1200px) {
            grid-template-columns: 1fr;
            & > * {
                margin-bottom: 3.5rem;
            }
        }
    }*/

    /*.app-body-navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 1200px) {
            display: none;
        }
    }*/

    /*.footer {
        margin-top: auto;
        h1 {
            font-size: 1.5rem;
            line-height: 1.125;
            display: flex;
            align-items: flex-start;
            small {
                font-size: 0.5em;
                margin-left: 0.25em;
            }
        }

        div {
            border-top: 1px solid var(--c-gray-600);
            margin-top: 1.5rem;
            padding-top: 1rem;
            font-size: 0.75rem;
            color: var(--c-text-tertiary);
        }
    }*/

    .logo {
        display: flex;
        align-items: center;
        /*padding-bottom: 1rem;
        padding-top: 1rem;*/
        border-bottom: 1px solid var(--c-gray-600);
        @media (max-width: 1200px) {
            border-bottom: 0;
        }
    }

    .logo-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
    }

    .logo-title {
        display: flex;
        flex-direction: column;
        line-height: 1.25;
        margin-left: 0.75rem;
        span:first-child {
            color: var(--c-text-primary);
        }
        span:last-child {
            color: var(--c-text-tertiary);
        }
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--c-text-tertiary);
        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            transition: 0.25s ease;

            * {
                transition: 0.25s ease;
            }

            i {
                margin-right: 0.75rem;
                font-size: 1.25em;
                flex-shrink: 0;
            }

            & + a {
                margin-top: 1.25rem;
            }

            &:hover,
            &:focus {
                transform: translateX(4px);
                color: var(--c-text-primary);
            }
        }
    }

    .tabs {
        display: flex;
        justify-content: space-evenly;
        color: var(--c-text-tertiary);
        border-bottom: 1px solid var(--c-gray-600);

        a {
            padding-top: 1rem;
            padding-bottom: 1rem;
            text-decoration: none;
            border-top: 2px solid transparent;
            display: inline-flex;
            transition: 0.25s ease;
            &.active,
            &:hover,
            &:focus {
                color: var(--c-text-primary);
                border-color: var(--c-text-primary);
            }
        }
    }

    /*.user-profile {
        display: flex;
        align-items: center;
        border: 0;
        background: transparent;
        cursor: pointer;
        color: var(--c-text-tertiary);
        transition: 0.25s ease;

        &:hover,
        &:focus {
            color: var(--c-text-primary);
            span:last-child {
                box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
            }
        }

        span:first-child {
            display: flex;
            font-size: 1.125rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid var(--c-gray-600);
            font-weight: 300;
        }

        span:last-child {
            transition: 0.25s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            overflow: hidden;
            margin-left: 1.5rem;
            flex-shrink: 0;
        }
    }*/

    /*.icon-button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 0;
        background-color: transparent;
        border: 1px solid var(--c-gray-500);
        color: var(--c-text-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.25s ease;
        flex-shrink: 0;
        &.large {
            width: 42px;
            height: 42px;
            font-size: 1.25em;
        }

        i {
            transition: 0.25s ease;
        }

        &:hover,
        &:focus {
            background-color: var(--c-gray-600);
            box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
        }
    }*/
 

.last-updated {
    font-style: italic;
    color: #888;
    font-size: x-small;
}

    /* Style the scrollbar for the div with class 'custom-scroll' */
.custom-scroll {
    /* width: 300px; */
    height: 85vh;
    /* overflow-y: scroll; */
    /* background-color: #333; */
    /* padding: 10px; */
    color: white;
}

.custom-scroll::-webkit-scrollbar {
    width: 12px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #1e1e1e; /* Dark background for the scrollbar track */
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #888; /* Dark color for the scrollbar thumb */
    border-radius: 10px;
    border: 3px solid #1e1e1e; /* Space around the thumb */
}

/* Firefox */
.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #888 #1e1e1e; /* thumb color, track color */
}

.cyan-title {
    color: cyan !important;
}

.cyan-card {
    padding: 10px;
    border: 1px solid cyan;
    border-radius: 10px;
    opacity: 0.8;
    background: #020202;
}

.cyan-card:hover {
    cursor: pointer;
    border: 1px solid red;
}

.ctable {
    width: 100%;
    border-collapse: collapse;
    background-color: #090909;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /*border: 1px solid cyan;
    border-radius: 10px;*/
}
.ctable th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #333;
}
.ctable th {
    background-color: #333;
}
.ctable tr:hover {
    background-color: #444;
}
.ctable a {
    color: #1e90ff;
    text-decoration: none;
}
.ctable a:hover {
    text-decoration: underline;
}

.bg-dark {
    background-color: #000000 !important;
}

.nav-tabs {
    border-bottom: 0.5px solid #393939 !important;
}

.sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: #ccc;
    text-align: center;
    border-top: 1px #333 !important;
  }

  .border-top {
    border-top: 1px solid #333 !important
  }

img {
    width:100%;
}

a, h1, h2, h3, h4, p {
    color: #ccc !important;
}